body {
	background-color: grey;
	
}
div.out {
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: fixed;
	background-color: red;
	width: 50px;
	height:50px;
	top: 40px;
    right: 700px;
    }