 /* zurag1 

	
body {
	background-color: grey;
}
div.out {
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: static;
	background-color: red;
	width: 50px;
	height:50px;
    }

zurag 2 
body {
	background-color: grey;
	
}
div.out {
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: absolute;
	background-color: red;
	width: 50px;
	height:50px;
	top: 20px;
	left: 20px;
    }

zurag 3 
body {
	background-color: grey;
	
}
div.out{
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: relative;
	background-color: red;
	width: 50px;
	height:50px;
	bottom: -450px;
	right: -450px;
    }
 zurag 4

body {
	background-color: grey;
	
}
div.out{
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: relative;
	background-color: red;
	width: 50px;
	height:50px;
	top: 460px;
	left:-10px;
    }
	
} 
zurag 5
body {
	background-color: grey;
	
}
div.out {
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: absolute;
	background-color: red;
	width: 50px;
	height:50px;
	top: 0px;
    left: 0px;
    }
zurag 6
body {
	background-color: grey;
	
}
div.out {
	background-color: green;
	width: 500px;
	height:500px;
	margin: 30px;
	padding: 10px;
}
div.in { 
	position: fixed;
	background-color: red;
	width: 50px;
	height:50px;
	top: 40px;
    right: 700px;
    }
*/