div {
	margin-bottom: 10px;

}
.box1{
	width: 200px;
	height: 200px;
	background-color: #ff9800;
	border: 3px solid black;
	border-radius: 10px;
	text-align: center;
}
.box2{
	width: 200px;
	height: 200px;
	background-color: #f44336;
	border: 3px solid black;
	border-radius: 50px;
	text-align: center;
}
.box3 {
	width: 200px;
	height: 200px;
	background-color: #673ab7;
	border: 3px solid black;
	border-radius: 100px;
	text-align: center;
}