.square {
	width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  animation-name: Square;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} 

@keyframes Square {
  from   {background-color:blue; left:0px; top:0px;}
 25% {background-color:yellow; left:400px; top:0px;}
 50% {background-color: orange;left: 400px; top: 200px;}
 75% {background-color: red; left: 0; top: 200px;}
 to from {background-color:blue; left:0px; top:0px;}
  
}